
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url("./assets/css/bootstrap.min.css");
;

// #345581
body{
	background: #f4f4f4;
	// .navbar-expand-xl{
	// 	margin: 0;
	// }
}
.featured-users {
    border-bottom: 2px solid #F6F6F7;
    padding-top: 20px;
    padding-bottom: 40px;
	background: #f4f4f4;
	.section-title{
		h1{
			margin-top: 50px;
			text-align: center;
			font-size: 35px;
			color: #345581;
			font-family: 'Abhaya Libre', serif;
		}
		margin-bottom: 50px;
	}
	.input-group { border-radius: 4px; position: relative;
		width: 98%;
		margin: auto;
		height: 55px;
		.form-control {border-color: transparent; border-radius: 4px; padding: 8px 135px 8px 25px; font-size: 14px; font-weight: 600; height: 100%;}
		.btn {font-size: 12px; 
			background-color: rgba($color: #345581, $alpha: 0.9);
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
			}
			outline: 0;
			border: 0;
			font-family: 'Abhaya Libre', serif ;
			letter-spacing: 1px;
			text-transform: uppercase; height: 40px; margin-top: 7px; margin-right: 15px; font-weight: 600; padding: 6px 25px; border-radius: 4px !important; position: absolute; right: 0px; z-index: 9;top: 0;}
	}
	.widget {
		.text-info{
			color: red !important;
			outline: none !important;
		}
		color: #afb1b2;
		// padding-top: 10px;
		border-radius: 4px;
		// background-color: #fff;
		margin-bottom: 30px;
		.categoryDiv{
			.MuiPaper-root{
				box-shadow: none;
				.MuiButtonBase-root{
					// padding: 0;
					min-height: 33px !important;
					background-color: #345581;
					border-radius: 5px 5px 0 0;
					.MuiExpansionPanelSummary-content{
						margin: 0;
						color: white;
					}
					.MuiButtonBase-root{
						padding: 0;
						color: white;
					}
					p{
						margin: 0;
						font-size: 16px;
						letter-spacing: 1px;
					}
				}
			}
			.MuiTypography-root{
				font-size: 14px;
			}
			.MuiCollapse-container{
				.MuiExpansionPanelDetails-root{
					padding-left: 3px;
					padding-right: 3px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
		}

		.countryDiv{
			.MuiPaper-root{
				box-shadow: none;
				.MuiButtonBase-root{
					// padding: 0;
					min-height: 33px !important;
					background-color: #345581;
					border-radius: 0px 0px 5px 5px;
					.MuiExpansionPanelSummary-content{
						margin: 0;
						color: white;
					}
					.MuiButtonBase-root{
						padding: 0;
						color: white;
					}
					p{
						margin: 0;
						font-size: 16px;
						letter-spacing: 1px;
					}
				}
			}
			.MuiTypography-root{
				font-size: 14px;
			}
			.MuiCollapse-container{
				.MuiExpansionPanelDetails-root{
					padding-left: 3px;
					padding-right: 3px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
				.multi__control{
					min-height: 38px;
				}
			}
		}

		.paymentDiv{
			.MuiPaper-root{
				box-shadow: none;
				.top{
					// padding: 0;
					min-height: 33px !important;
					background-color: #345581;
					border-radius: 0px;
					.MuiExpansionPanelSummary-content{
						margin: 0;
						color: white;
					}
					.MuiButtonBase-root{
						padding: 0;
						color: white;
					}
					p{
						margin: 0;
						font-size: 16px;
						letter-spacing: 1px;
					}
				}
			}
			.MuiTypography-root{
				font-size: 14px;
			}
			.MuiCollapse-container{
				.MuiExpansionPanelDetails-root{
					padding-left: 25px;
					padding-right: 5px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
				.MuiButtonBase-root{
					padding: 0 5px;
				}
			}
		}

		.budgetDiv{
			.MuiPaper-root{
				box-shadow: none;
				.top{
					// padding: 0;
					min-height: 33px !important;
					background-color: #345581;
					border-radius: 0px;
					.MuiExpansionPanelSummary-content{
						margin: 0;
						color: white;
					}
					.MuiButtonBase-root{
						padding: 0;
						color: white;
					}
					p{
						margin: 0;
						font-size: 16px;
						letter-spacing: 1px;
					}
				}
			}
			.MuiTypography-root{
				font-size: 14px;
			}
			.MuiCollapse-container{
				.MuiExpansionPanelDetails-root{
					padding-left: 25px;
					padding-right: 5px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
				.MuiButtonBase-root{
					padding: 0 5px;
				}
			}
		}

		.widget_title {
			font-family: 'Abhaya Libre', serif;
			font-size: 15px;
			color: #272727;
			margin: 0 0 20px;
		}
		.tr-list {
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				a {
					font-family: 'Abhaya Libre', serif;
					text-decoration: none;
					font-size: 16px;
					padding: 5px 0;
					color: #898b8c !important;
					font-weight: 400;
				}
				a.active {
					color: #345581 !important;
				}
				a:hover {
					text-decoration: none;
					color: #345581 !important;
				}
			}
		}
		.margin-space {
			margin: 30px 0px;
		}
		.row{
			padding: 0px 0px!important;
			margin: 0px !important;
			.col-sm-6 {
				padding: 0px !important;
				margin: 0px !important;
			}
			.widget_title_small {
				font-family: 'Abhaya Libre', serif;
				font-size: 12px;
				color: #272727;
				margin: 0 0 4px 0px;
			}
		}
	}
}
.card-box {
	min-height: 440px;
	.img-circle {
		border-radius: 50%;
		.img-circle{
			border-color: #345581 !important;
			border-width: 3px !important;
		}
	}
	background-color: #fff;
	padding: 10px 10px 10px 10px;
	color: #000;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	.text{
		color: #898b8c;
	}
}
.favorite{
		outline: none;
	   float: right;
   }
   .card-box .most-popular {
	position: absolute;
	top: 25px;
	right: -60px;
   }	
   .card-box .most-popular span {
	font-family: 'Abhaya Libre', serif;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 5px 70px;
	background: #d65456 !important;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	transform: rotate(40deg);
   }
   .card-box .member-card .member-thumb {
	.img-circle{
		border-color: #345581 !important;
		border-width: 3px !important;
	}
	position: relative;
	height: 120px;
	width: 120px;
	margin-bottom: 10px !important;
	display: block;
	margin-right: auto;
	margin-left: auto;
   }
   .card-box i.member-star{
	position: relative;
	top: -120px;  
	left: 40px;
	color: #345581;
   }
   .card-box h4 a{
	margin-bottom: 0px !important;
	font-family: 'Abhaya Libre', serif;
	font-size: 19px;
	font-weight: 700;
	color: #345581 !important;
	line-height: 0 !important; 
   }
   .card-box h4.top{
	margin-bottom: 0px !important;
	font-family: 'Abhaya Libre', serif;
	font-size: 19px;
	font-weight: 700;
	color: #345581 !important;
	line-height: 1 !important; 
   }
   .card-box p.p-location {
	font-family: 'Abhaya Libre', serif;
	font-size: 14px;
	color: #898b8c !important;
	line-height: 0 !important;
   }
   .card-box i.rating-star{
	color: #345581;
   }
   .card-box p.p-star {
	font-family: 'Abhaya Libre', serif;
	font-size: 14px;
	color: #898b8c !important;
	line-height: 0 !important;
   }
   .card-box h5 {
	margin-top: 30px !important;
	margin-bottom: 10px !important;
	font-family: 'Abhaya Libre', serif;
	font-size: 15px;
	color: #345581 !important; 
	line-height: 0.9;
	font-weight: 700;
   }
   .text-muted {
	color: #898b8c !important;
   }
   .featured-users p.font-16 {
	font-family: 'Abhaya Libre', serif;
	font-size: 15px;
   }
   .card-box .row{
	padding: 0px 5px!important;
	margin: 0px !important; 
   }
   .card-box .row .col-sm-4{
	padding: 0px !important;
	margin: 0px !important; 
   }
   .card-box h6 {
	 margin-bottom: 0px !important;
	 font-family: 'Abhaya Libre', serif;
	 font-size: 14px;
	 color: #345581 !important; 
   }
   .card-box p.bottom {
	 font-family: 'Abhaya Libre', serif;
	 font-size: 13px !important;
	 color: #898b8c !important;
	 margin-bottom: 0px !important;
   }

.work,.jobBoxx,.my-favorites {
	// background-color: #fff;
	// padding: 20px 10px 10px 10px;
	// color: #272727;
	// border-radius: 4px;
	// margin-bottom: 30px;
	// position: relative;
	// overflow: hidden;
	.job{
		// padding: 10px 0 0px 0;
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		margin: 10px;
		.previousButton{
			.btn-secondary{
				background-color: #eeeefd;
				border-color: #eeeefd;
				color: #454be9;
				&:hover{
					background-color: #cecff9;
					border-color: #cecff9;
					color: #454be9;
				}
			}
			.btn-primary{
				background-color: #d4fef2;
				border-color: #d4fef2;
				color: #03c68e;
				&:hover{
					background-color: #bbfeeb;
					border-color: #bbfeeb;
					color: #03c68e;
				}
			}
		}
		&:hover,
		&:focus {
			background-color: #ececec;
    		transition: .3s;
			
			
		}
		.small-hr {
			margin:2px auto;
			border-bottom: 1px solid #FDFDFD;
			width: 100%;
		}
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			display: inline-block;
			border-bottom: 3px solid #345581;
			// padding-bottom: 10px;
		}
		&:last-child {
			content: "";
			width: 100%;
			height: 100%;
			display: inline-block;
			border-bottom: 4px solid #e0e0e0;
			margin-bottom: 5px;
		}
		.topLabel{
			display: inline;
			// display: none;
			float: right;
			.label-primary{
				font-family: ''Abhaya Libre', serif','Abhaya Libre', serif;
				margin-bottom: 5px;
				font-size: 13px;
				margin-right: 3px;
				color: #fff !important;
				letter-spacing: 1px;
				padding: 5px;
			}
			.cashAndExchange{
				font-size: 16px !important;
				text-transform: capitalize !important;
				margin-right: 20px !important;
				font-size: 12px;
				color: #f90000 !important;
				background-color: #a3a1a100 !important;
				

			}
		}
		.top-sec {
			.prices{
				div{
					font-family: 'Abhaya Libre', serif;
					text-decoration: none;
					font-weight: 700;
					margin-right: 5px;
					margin-bottom: 0px;
					font-size: 14px;
					color: #ff0000;
					text-transform: capitalize;
				}
			}
			// padding-top: 15px;
			h4{
				line-height: 28px;
			}
			h4 a{
				font-family: 'Abhaya Libre', serif;
				// text-decoration: none;
				font-weight: 700;
				font-size: 22px;
				color: #345581;
				line-height: 0;
				&:hover,
				&:focus{
  					color: #019da5 !important;
				}
			}
			h5{
				// font-family: ''Abhaya Libre', serif','Abhaya Libre', serif;
				font-weight: 800;
				color: #a3a1a1;
				// font-size: 16px;
				// line-height: 0;
				small{
					font-size: 90%;
    				font-weight: 800;
    				// line-height: 1;
					color: #a1a1a1;
					font-style: italic;
				}
			}
			h6{
				font-family: 'Abhaya Libre', serif;
				font-weight: 800;
				color: #212529c9;
				font-size: 21px;
				// line-height: 0.8;
			}
			p{
				font-family: 'Abhaya Libre', serif;
				font-weight: 400;
				color: #898b8c;
				font-size: 14px;
				line-height: 0.8;
			}
		}
		.mid-sec {
			padding: 0px 0 5px 0;
			span {
				font-family: 'Abhaya Libre', serif;
				padding-bottom: 5px;
				font-size: 19px;
                color: #868585 !important;
                // letter-spacing: 1px;
                // line-height: 24px;
			}
			.read-more-button{
				font-family: 'Abhaya Libre', serif;
				color: #0014ff;
				margin-top: 12px;
				float: right;
				font-size: 16px;
				/* margin-right: 3px; */
				/* letter-spacing: 1px; */
				cursor: pointer;
				
            }
			.label-success {
				font-family: 'Abhaya Libre', serif;
				background: #535F80 !important;
				font-family: Roboto,sans-serif;
				margin-top: 5px;
				font-size: 16px;
				margin-right: 3px;
				padding: 8px 20px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 12px;
				color: #fff !important;
				letter-spacing: 1px;
			}
			.prices{
				.label-primary{
					font-family: 'Abhaya Libre', serif;
					margin-bottom: 5px;
					font-size: 13px;
					margin-right: 3px;
					color: #fff !important;
					letter-spacing: 1px;
					padding: 5px;
				}
				div{
					font-family: 'Abhaya Libre', serif;
					text-decoration: none;
					font-weight: 700;
					margin-right: 5px;
					margin-bottom: 5px;
					font-size: 14px;
					color: #ff0000;
					text-transform: capitalize;
				}
			}
			img {
				width: 60px;
				height:60px;
				border-radius: 3px;
				margin-right: 10px;
				
				-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;
				&:hover,
				&:focus {
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			h5 {
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 18px !important;
				// line-height: 0.4;
				margin: 0;
				margin-bottom: 5px;
				a{
					font-family: 'Abhaya Libre', serif;
					font-weight: 700;
					color: #345581;
					font-size: 14px !important;
					line-height: 0.4;
				}
			}
			p {
				font-family: 'Abhaya Libre', serif;
				font-weight: 800;
				padding-bottom: 0px;
				font-size: 18px;
				color: #585457 !important;
				line-height: 0.8;
				margin: 0;
				margin-bottom: 2px;
				i{
					font-size: 10px;	
					color: #345581;
				}
			}
			h4 {
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 19px !important;
				line-height: 0.4;
			  }
		}
		.bottom-sec {
			img {
				width: 60px;
				height:60px;
				border-radius: 3px;
				margin-right: 10px;
				
				-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;
				&:hover,
				&:focus {
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			h5 {
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 18px !important;
				margin: 0;
				margin-bottom: 5px;
				// line-height: 0.4;
				// a{
				// 	font-family: 'Abhaya Libre', serif;
				// 	font-weight: 700;
				// 	color: #345581;
				// 	font-size: 14px !important;
				// 	line-height: 0.4;
				// }
			}
			p {
				font-family: 'Abhaya Libre', serif;
				padding-bottom: 0px;
				font-size: 15px;
				color: #868585 !important;
				line-height: 0.8;
				margin: 0;
				margin-bottom: 3px;
				i{
					font-size: 10px;	
					color: #345581;
				}
			}
			h4 {
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 19px !important;
				line-height: 0.4;
			}
			.prices{
				.label-primary{
					font-family: 'Abhaya Libre', serif;
					margin-bottom: 5px;
					font-size: 13px;
					margin-right: 3px;
					color: #fff !important;
					letter-spacing: 1px;
					padding: 5px;
				}
				div{
					font-family: 'Abhaya Libre', serif;
					text-decoration: none;
					font-weight: 700;
					margin-right: 5px;
					margin-bottom: 5px;
					font-size: 14px;
					color: #ff0000;
					text-transform: capitalize;
				}
			}
		}
		@media only screen and (max-width: 768px){
			.bottom-sec .pull-right{
			 float: left !important;	
			 width: 100%;
			}
		}
	} 
	
}
.jobBoxx,.my-favorites{
	.job{
		width: auto;
		&:last-child{
			height: auto;
			width: auto;
			display: inherit;
		}
	}
}
.PostedJobs{
	padding-top: 0;
	h1{
		span{
			color: #345581;
			font-size: 24px;
		}
		a{
			background-color: rgba($color: #345581, $alpha: 0.9);
			border: none;
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
				color: white !important;
			}
		}
	}
	.public-navbar{
		width: 99%;
		margin: auto;
		.nav{
			display: flex;
			justify-content: space-between;
		}
		.nav-link{
		@media only screen and (max-width: 768px){
			width: 66px;
			margin: 0;
			padding: 0;
		}
			&:hover{
				color: #345581 !important;
			}
		}
		.nav-link.active{
			color: #345581 !important;
		}
	}
	.common-not-found{
		h5{
			color: #345581;
		}
		p{
			color: #898b8c;
			a{
				color: rgba($color: #345581, $alpha: 0.8);
				&:hover{
					color: rgba($color: #345581, $alpha: 1) !important;
				}
			}
			.btn-primary{
				color: white;
				border: none;
				background-color: rgba($color: #345581, $alpha: 0.9);
				&:hover{
					background-color: rgba($color: #345581, $alpha: 1);
					color: white !important;
				}
			}
		}
	}
}
.RecievedProposals{
	padding-top: 0;
	h1{
		span{
			color: #345581;
			font-size: 24px;
		}
		a{
			background-color: rgba($color: #345581, $alpha: 0.9);
			border: none;
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
				color: white !important;
			}
		}
	}
	// .input-group-append{
	// 	position: absolute;
	// 	right: 4px;
	// 	top: 50%;
	// 	transform: translate(0, -50%);
	// 	z-index: 5;
	// 	button{
	// 		border: none;
	// 		background-color: rgba($color: #345581, $alpha: 0.9);
	// 		&:hover{
	// 			background-color: rgba($color: #345581, $alpha: 1);
	// 		}
	// 	}
	// }
	.public-navbar{
		width: 99%;
		margin: auto;
		.nav-link{
		@media only screen and (max-width: 768px){
			// margin: 0;
			// width: 66px;
			// padding: 0;
		}
			&:hover{
				color: #345581 !important;
			}
		}
		.nav-link.active{
			color: #345581 !important;
		}
	}
	
	.common-not-found{
		h5{
			color: #345581;
		}
		p{
			color: #898b8c;
			a{
				color: rgba($color: #345581, $alpha: 0.8);
				&:hover{
					color: rgba($color: #345581, $alpha: 1) !important;
				}
			}
			.btn-primary{
				color: white;
				border: none;
				background-color: rgba($color: #345581, $alpha: 0.9);
				&:hover{
					background-color: rgba($color: #345581, $alpha: 1);
					color: white !important;
				}
			}
		}
	}
}


.paginationCommon.blogPagination {
    margin-bottom: 25px;
    margin-top: 25px;
}
.paginationCommon.blogPagination nav {
    margin: 0;
    border: none;
}
.paginationCommon.blogPagination nav .pagination {
    margin: 0;
}
.paginationCommon .pagination li {
    float: left;
    margin: 25px 5px 5px 0;
}
ul li {
    list-style-type: none;
}
.paginationCommon .pagination li:first-child a {
    border-radius: 0;
}
.paginationCommon .pagination li a {
    border-color: #e5e5e5;
    float: none;
    color: #222222;
    font-weight: 400;
    padding-top: 10px;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 30px;
    font-size: 12px;
}
.paginationCommon .pagination li a:hover {
    color: #fff ;
    // background-color: #345581 !important;
    // border-color: #345581 !important;
}

.paginationCommon .pagination li a span {
    font-size: 17px;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #345581 !important;
    border-color: #345581 !important;
}
@media(max-width:992px) {	
	.paginationCommon.blogPagination {
		margin-top: 0;
	}
}
@media(max-width:768px) {	
	.paginationCommon.blogPagination {
		margin-bottom: 0;
		margin-top: 15px;
	}
	.paginationCommon nav {
		margin: 0 0 70px 30px;
	}
	.paginationCommon .pagination li {
		margin: 0 0px 0 0;
	}	
	.paginationCommon .pagination li a {
		width: 40px;
		height: 45px;
		// line-height: 45px;
		// font-size: 16px;
	}	
	.paginationCommon .pagination li:first-child a {
		margin-left: 20px;
	}
	.paginationCommon .pagination li:second-last a {
		margin-left: 20px;
	}
}


.wizard .nav-tabs li .round-tab{
	top: 0%;
}
.wizard .nav-tabs li .nav-link:hover, .wizard .nav-tabs li .nav-link:focus, .wizard .nav-tabs li .nav-link.active{
	color: #345581 !important;
	.round-tab{
		background-color: #345581 !important;
	}
}

.jobpost {
	// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	// 	line-height: 1.1 !important;
	// }
	h4, h5, h6 {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
	// h1, h2, h3 {
	// 	margin-top: 20px !important;
	// 	margin-bottom: 10px !important;
	// }
	p {
		margin: 0 0 10px !important;
	}
	border-bottom: 2px solid #F6F6F7;
	padding-top: 30px;
	padding-bottom: 20px;
	background: #f4f4f4;
	.row{
		margin: 0;
	}
	.card-box-profile {
		width: 100%;
		background-color: #fff;
		padding: 20px 20px;
		color: #000;
		border-radius: 4px;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		border-bottom: 3px solid #345581;
		.buttton{
			margin-top: 10px;
		}
		img{
			float: left;
			width: 150px;
			height: 150px;
			margin-right: 15px;
		}
		h3{
			font-family: 'Abhaya Libre', serif;
			font-size: 20px;
			color: #345581;
			// padding-left: 18px;
			font-weight: 700;
		}
		h4{
			font-family: 'Abhaya Libre', serif;
			font-size: 16px;
			color: #88898a;
			// padding-left: 18px;
			font-weight: 400;
		}
		p{
			font-family: 'Abhaya Libre', serif !important;
			padding-bottom: 0px;
			font-size: 15px !important;
			color: #868585 !important;
		}
		i.fa-map-marker-alt {
			color: #345581 !important;
		}
		i.rating-star{
			color: #345581;
		}
		p.p-star {
			font-family: 'Abhaya Libre', serif;
			font-size: 14px;
			color: #898b8c !important;
			line-height: 0 !important;
		}
		.kafe-btn-mint-small,
		.kafe-btn-danger-small{
		 width: auto;	
		}
		.kafe-btn-mint-small{
			background-color: rgba($color: #345581, $alpha: 0.9);
			color: white;
			padding: 10px;
			border-radius: 2px;
			text-decoration: none;
			font-family: 'Abhaya Libre', serif;
			letter-spacing: 1px;
			// padding-left: 15px;
			// padding-right: 15px;
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
			}
		}
		.bottom-sec {
			padding-top: 10px;
			.kafe-btn-mint-small{
				margin-top: 10px;
			}
			h5 {
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 12px !important;
				letter-spacing: 1px;
				span {
					font-family: 'Abhaya Libre', serif;
					font-weight: 700;
					font-size: 12px !important;
					letter-spacing: 1px;
					color: #ff6c6c;
				  }
			}
			p {
				font-family: 'Abhaya Libre', serif;
				padding-bottom: 0px;
				font-size: 14px;
				color: #868585 !important;
			}
		}
	}
}

.profile-details{
	background: #f4f4f4;
	padding: 20px 0;
	// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	// 	line-height: 1.1 !important;
	// }
	h4, h5, h6 {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		a{
			font-family: 'Abhaya Libre', serif;
			// font-size: 20px;
			color: #345581;
			font-weight: 700;
			width: 100%;
		}
	}
	.card{
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: none;
		// border-bottom: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
		@media only screen and (max-width: 768px){
			text-align: -webkit-center;
			.action{
				text-align: -webkit-center !important;
			}
		}
	}
	// h1, h2, h3 {
	// 	margin-top: 20px !important;
	// 	margin-bottom: 10px !important;
	// }
	p {
		margin: 0 0 10px !important;
	}
	.card-box{
		min-height: auto;
	}
	.card-box-profile-details {
		background-color: #fff;
		padding: 40px 30px 10px 30px;
		color: #272727;
		border-radius: 4px;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		.chips{
			h6{
				font-family: 'Abhaya Libre', serif;
				display: block;
				font-size: 18px;
				font-weight: 700;
				color: #345581;
			}
			.badge{
				background-color: #535F80;
				margin-right: 3px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 3px;
				padding: 8px 20px;
				margin-bottom: 8px;
				margin-right: 8px;
				font-size: 12px;
				font-family: Roboto;
				font-weight: 400;
			}
		}
		.description-profile {
			padding: 10px 10px;
			h3{
				font-family: 'Abhaya Libre', serif;	
				font-size: 20px;
				color: #3d464d;
			}
			ul{
				li {
					font-family: 'Abhaya Libre', serif;		
					font-size: 15px;
					letter-spacing: 1px;
					color: #898b8c;
				}
			}
			p{
				font-family: 'Abhaya Libre', serif;		
				font-size: 18px;
				color: #898b8c;
			}
			.tr-list {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.resume-info > li {
				margin-bottom: 30px;
				position: relative;
				i,
				.work .icon i{
					font-size: 30px;
					color: #345581;
					margin-right: 10px;
				}
			}
			.tr-title,
			.work .tr-title{
			 font-family: 'Abhaya Libre', serif;	
			 display: block;
			 font-size: 18px;
			 font-weight: 700;
			 color: #345581;
			 margin-bottom: 20px;
			}
			.personal-details li {
				margin-bottom: 10px;
				.media-body ul > li > span {
					font-weight: normal;
				}
			}
			.label-success {
				font-family: 'Abhaya Libre', serif;
				background: #535F80 !important; 
				font-family: Roboto,sans-serif;
				margin-bottom: 5px;
				font-size: 14px;
				color: #fff !important;
				letter-spacing: 1px;
			  }
		}
	}
	.stats {
		background-color: #fff;
		padding: 10px 30px 10px 30px;
		color: #272727;
		border-radius: 4px;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		border-bottom: 3px solid #345581;
		.row{
			padding: 0px 5px!important;
			margin: 0px !important;
			.col-sm-4{
				padding: 0px !important;
				margin: 0px !important; 
			}
		}
		h5 {
			font-family: 'Abhaya Libre', serif;
			font-size: 20px;
			color: #345581;
			font-weight: 700;
			width: 100%;
			margin-bottom: 5px;
			small {
				margin-bottom: 0px !important;
				font-family: 'Abhaya Libre', serif;
				font-size: 13px;
				color: #88898a;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		h6 {
			margin-bottom: 0px !important;
			font-family: 'Abhaya Libre', serif;
			font-size: 18px;
			color: #345581 !important; 
		}
		a{
			margin-bottom: 0px !important;
			font-family: 'Abhaya Libre', serif;
			font-size: 18px;
			color: #345581 !important; 
		}
		p.bottom {
			font-family: 'Abhaya Libre', serif;
			font-size: 14px !important;
			color: #898b8c !important;
			margin-bottom: 0px !important;
		}
		.grey::before,
		.grey::after {
		 display: inline-block;
		 content: "";	
		 width: 110px;
		 border: 1px solid #8d969c;
		 position: relative;
		 top: -3px;
		}
		.grey {
			font-family: 'Abhaya Libre', serif;	
			color: #8d969c; 
			font-size: 18px;
			font-weight: 400;
			display: table;
			white-space: nowrap;
			height: auto;
			margin: '';
			line-height: 1;
			text-align: center;
			width: 100%;
			margin: 5px 0px;
		}
		.col-p {
			margin-top: 10px;
		}
		p.top {
			font-family: 'Abhaya Libre', serif;
			font-size: 18px !important;
			color: #88898a !important;
			margin-bottom: 0px !important;
			font-weight: 700;
			line-height: 0.8;
		}
		p.middle {
			font-family: 'Abhaya Libre', serif;
			font-size: 16px !important;
			color: #88898a !important;
			margin-bottom: 0px !important;
			font-weight: 400;
			line-height: 0.8;
		}
		p.bottom-t {
			font-family: 'Abhaya Libre', serif;
			font-size: 14px !important;
			color: #898b8c !important;
			margin-bottom: 0px !important;
		   line-height: 0.8;
		}
		@media only screen and (max-width: 768px){
			.grey::before,
			.grey::after {
			 display: inline-block;
			 content: "";	
			 width: 10px;
			 border: 1px solid #8d969c;
			 position: relative;
			 top: -3px;
			}
		}
	}
	.work{
		background-color: #fff;
		padding: 20px 10px 10px 10px;
		color: #272727;
		border-radius: 4px;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		.questionDiv{
			margin-top: 30px;
			padding-right: 15px;
			padding-left: 15px;
			h5{
				font-family: 'Abhaya Libre', serif;
				font-weight: 700;
				color: #345581;
				font-size: 12px !important;
				letter-spacing: 1px;
			}
			p{
				font-family: 'Abhaya Libre', serif !important;
				padding-bottom: 0px;
				font-size: 15px !important;
				color: #868585 !important;
			}
		}
	}
}
.e-ddl{
	display: inline;
}
.offer-dialog{
	.text-primary{
		color: #345581 !important;
	}
	// .input-group .input-group-text{
	// 	position: absolute;
	// 	right: 0px;
	// 	top: 1px;
	// 	border: none;
	// 	background-color: #fff;
	// 	z-index: 99;
	// 	height: 96%;
	// }
	.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
		border-top-right-radius: 5px !important;
		border-bottom-right-radius: 5px !important;
	}
	label{
		color: #345581;
	}
	.fa-cloud-upload-alt{
		color: #345581;
	}
	.btn-outline-info{
		color: #345581 !important;
		border: 1px solid #345581 !important;
		&:hover{
			background-color: #345581 !important;
			color: white !important;
		}
	}
	.btn-info{
		background-color: #345581 !important;
		color: white !important;
		border: 1px solid #345581 !important;
		&:hover{
			color: #345581 !important;
			border: 1px solid #345581 !important;
			background-color: white !important;
		}
	}
	.MuiFab-root{
		color: white;
		background-color: #345581;
		&:hover{
			color: #345581;
			background-color: white;
		}
	}
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #345581;
    margin-bottom: 20px;
    width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	.box-header {
		color: #444;
		display: block;
		padding: 10px;
		position: relative;
		.box-title {
			display: inline-block;
			font-family: 'Abhaya Libre', serif;	
			font-size: 18px;
			color: #3d464d;
			margin: 0;
			line-height: 1;
		}
	}
	.box-body {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		padding: 10px;
		tr th{	
			font-family: 'Abhaya Libre', serif;
			font-size: 18px; 
		}
		td a{
			font-family: 'Abhaya Libre', serif;
			font-size: 18px; 
			color: #345581 !important;
		}
		td a.kafe-btn{
			font-family: 'Abhaya Libre', serif;
			font-size: 14px; 
			color: #fff !important;
			background-color: rgba($color: #345581, $alpha: 0.9);
			padding: 10px;
			border-radius: 2px;
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
			}
		}
		td{
			font-family: 'Abhaya Libre', serif;
			font-size: 18px; 
			color: #848484 !important;
			vertical-align: middle;
			text-align: center;
			font-weight: bold;
			padding-top: 0;
			padding-bottom: 0;

			i{
				color: #345581;
			}
			.badge{
				background-color: transparent;
				color: #535F80;
				border: 1px solid #535F80;
				border-radius: .25rem;
			}
			.btn-outline-info{
				font-family: 'Abhaya Libre', serif;
				font-size: 14px; 
				color: #fff !important;
				background-color: rgba($color: #345581, $alpha: 0.9);
				padding: 5px;
				border-radius: 2px;
				&:hover{
					background-color: rgba($color: #345581, $alpha: 1);
				}
			}
		}
		td img{
			padding-right: 5px;
		}
		td span.label-mint{
			font-family: 'Abhaya Libre', serif;
			font-size: 18px !important;
			padding: 1px 10px;
			border-radius: 3px;
			// font-weight: 400 !important; 
		}
		td i.fa{ 
			color: #345581 !important;	
		}
		.first{
			display: flex;
			align-items: center;
			justify-content: start;
			padding-top: 0;
			padding-bottom: 0;
			@media only screen and (max-width: 768px){
				flex-direction: column;
			}
		}
	}
}


.image-gallery-slide{
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus{
	border: 4px solid #345581 !important;
}
.image-gallery-icon{
	&:hover{
		color: #345581 !important;
	}
}

.individual-service{
	background-color: #f4f4f4 !important;
	.card{
		background-color: transparent;
		padding: 27px;
	}
	.bottom-shadow{
		box-shadow: none;
		padding-bottom: 20px;
		border-bottom: 2px solid #F6F6F7;
	}
	.head{
		margin-top: 50px;
		text-align: center;
		font-size: 35px;
		color: #345581;
		font-family: 'Abhaya Libre', serif;
		.auction{
			display: inline !important;
			float: right;
			.offer{
				display: inline;
				a{
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					background-color: white;
					color: #345581;
					border: 1px solid #345581;
					font-size: 16px;
					font-weight: 600;
					&:hover{
						color: white;
						background-color: #345581;
					}
				}
			}
		}
	}
	.card-box{
		border-bottom: 3px solid #345581;
		.img-circle{
			border-color: #345581 !important;
			border-width: 3px !important;
		}
		.member-card{
			h5{
				margin-bottom: 5px !important;
				color: #595959;
			}
			h4{
				margin: 0;
				font-size: 14px;
				font-family: 'Abhaya Libre', serif;
				color: #595959;
			}
			p{
				color: #595959;
				font-size: 14px;
				font-family: 'Abhaya Libre', serif;
			}
			.text{
				text-align: left;
				padding: 10px;
				color: #595959;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: 1px;
			}
			.display-text-group{
				text-align: left;
				padding: 10px;
				color: #7d7d7d;
				font-size: 14px;
			}
			.read-more-button{
				color: #345581;
				margin-top: 10px;
			}
		}
	}
	.send-offer{
		button{
			background-color: rgba($color: #345581, $alpha: 0.9);
			border: 0;
			&:hover{
				background-color: rgba($color: #345581, $alpha: 1);
			}
		}
	}
	.nav-list{
		margin-top: 50px;
		margin-bottom: 10px;
		display: flex;
		justify-content: start;
		.nav-link{
			padding: 0;
			margin-right: 10px;
			button{
				border: 1px solid #345581;
				border-radius: 5px;
				color: #345581;
				padding: 8px 30px;
				font-size: 14px;
				font-weight: 600;
				&:hover{
					background-color: #345581;
					color: white;
					transition: 0.2s;
				}
			}
			button.active{
				background-color: #345581;
				color: white;
				transition: 0.2s;
			}
		}
	}
	.BottomView{
		.bottomViewInside{
			padding-top: 20px;
			.description,.portfolio,.skills,.public-rating{
				.card-body{
					background-color: #fff;
					padding: 40px 30px 10px 30px;
					color: #272727;
					border-radius: 4px;
					margin-bottom: 30px;
					position: relative;
					overflow: hidden;
					border-bottom: 3px solid #345581;
				}
			}
			.description{
				.card-body{
					max-height: 500px;
					display: flex;
					flex-direction: column;
					// justify-content: space-between;
					h5{
						font-family: 'Abhaya Libre', serif;
						display: block;
						font-size: 18px;
						font-weight: 700;
						color: #345581;
					}
					hr{
						margin-top: 10px;
						margin-bottom: 10px;
						// background-color: #345581;
					}
					.badge{
						background-color: #535F80 !important;
						margin-right: 3px;
						padding: 5px;
						padding-left: 10px;
						padding-right: 10px;
						border-radius: 3px;
						color: white;
						font-family: 'Abhaya Libre', serif;
						letter-spacing: 1px;
					}
				}
			}
			.portfolio{
				.card-body{
					max-height: 500px;
					h5{
						font-family: 'Abhaya Libre', serif;
						display: block;
						font-size: 18px;
						font-weight: 700;
						color: #345581;
					}
					hr{
						margin-top: 10px;
						margin-bottom: 10px;
						// background-color: #345581;
					}
				}
				.docs{
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 10px;
					border-radius: 5px;
					transition: 0.5s;
					text-decoration: none;
					&:hover{
						box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
						h6{
							a{
								color: #345581;
							}
						}
					}
					h6{
						text-align: left;
						margin: 0;
						font-size: 14px;
						a{
							text-decoration: none;
						}
					}
					i{
						margin: 0;
					}
				}
			}
			.public-rating{
				padding: 0;
				padding-left: 15px;
				padding-right: 15px;
				box-shadow: none;
				.card-body{
					max-height: 500px;
					.rating-heading{
						font-family: 'Abhaya Libre', serif;
						display: block;
						font-size: 18px;
						font-weight: 700;
						color: #345581;
						i{
							font-size: 18px;
						}
					}
					hr{
						margin-top: 10px;
						margin-bottom: 10px;
						// background-color: #345581;
					}
				}
			}
			.same-person{
				h4{
					font-family: 'Abhaya Libre', serif;
					display: block;
					font-size: 18px;
					font-weight: 700;
					color: #345581;
				}
			}
		}
	}
}
.selecttt{
	width: 280px;
}
.service-proposal{
	.heading{
		font-family: 'Abhaya Libre', serif;
		font-size: 30px;
		color: #345581;
		text-align: center;
		margin-bottom: 30px;
	}
}

.svcsLBox{
	.favorite{
		z-index: 10;
	}
	.caption{
		text-align: left;
		.ratings{
			justify-content: left;
		}
		.badge{
			margin: 0;
			float: right;
		}
		.badge-info{
			background-color: red;
		}
		.badge-primary{
			background-color: green;
		}
	}
	.offer{
		display: inherit;
		margin-top: -5px;
		color: red;
	}
	.DropDownDots{
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 10;
		padding: 0;
		button{
			outline: none;
		}
		.dropdown-toggle{
			padding: 0;
		}
		i{
			color: #fff;
		}
	}
	.dropdown-toggle::after{
		color: transparent;
	}
	.serviceOverlayer{
		transition: 0.7s;
	}
	&:hover{
		.serviceOverlayer{
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 9;
			box-shadow: inset 0 0 120px -15px black;
			transition: 0.7s;
		}
	}
}
.my-services{
	.heading{
		margin: 0;
		font-size: calc(0.8rem + 0.5vw);
		font-weight: 600;
		padding-bottom: 10px;
		span{
			color: #345581;
			font-size: 24px;
			&::before{
				height: 0;
			}
		}
		a{
			background-color: rgba(52, 85, 129, 0.9);
			border: none;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 8px 20px;
			display: flex;
			align-items: center;
			&:hover{
				background-color: rgba(52, 85, 129, 1);
			}
		}
	}
}

.e-popup-full-page{
	overflow: scroll !important ;
}

.my-favorites{
	.heading{
		color: #345581;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.nav{
		display: flex;
		justify-content: space-between;
		.nav-link{
		@media only screen and (max-width: 768px){
			padding: 0 !important;
			margin: 0 !important;
		}
		}
	}
	.freLncrBox{
		.profile{
			width: auto;
		}
		.caption{
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			width: auto;
			padding-left: 10px;
			h3{
				font-size: 18px;
				color: #345581;
				a{
					color: #345581;
				}
			}
			.action{
				button{
					background-color: rgba($color: #345581, $alpha: 0.9);
					border-color: #345581;
					outline: none;
					&:hover{
						background-color: #345581;
					}
				}
			}
			.position{
				span{
					font-size: 16px;
					letter-spacing: 1px;
					color: #272727;
				}
			}
			.address{
				.text-truncate{
					color: #505050;
					letter-spacing: 1px;
				}
				.mb-2{
					color: #505050;
				}
			}
		}
	}
	.freAcpBox{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
}


.fas.fa-heart{
	color: #345581 !important;
}

.connectionToShow{
	h1{
		font-weight: 500;
		color: #345581;
		font-size: 16px;
		margin-bottom: 2px;
		border-bottom: 1px solid #898b8c5c;
		padding-bottom: 5px;
	}
	.connectionFlex{
		display: flex;
		// justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 10px;
		.Connection{
			width: 89px;
			height: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			img{
				width: 42%;
				height: auto;
				border-radius: 50%;
			}
			p{
				margin: 0;
				font-size: 12px;
				font-weight: 600;
				margin-top: 5px;
			}
		}
	}
}